@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import './loader.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes open_backdrop {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes close_backdrop {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  .show .bg_backdrop {
    animation: open_backdrop 300ms ease-out forwards;
  }

  .hide .bg_backdrop {
    animation: close_backdrop 200ms ease-in forwards;
  }

  @keyframes open_dialog_panel {
    from {
      opacity: 0;
      transform: translateY(1rem) scale(0.95);
    }

    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  @keyframes close_dialog_panel {
    from {
      opacity: 1;
      transform: translateY(0) scale(1);
    }

    to {
      opacity: 0;
      transform: translateY(1rem) scale(0.95);
    }
  }

  .show .animate-dialog-panel {
    animation: open_dialog_panel 300ms ease-out forwards;
  }

  .hide .animate-dialog-panel {
    animation: close_dialog_panel 200ms ease-in forwards;
  }
}

.roboto-condensed-font {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.smooch-sans-font {
  font-family: "Smooch Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --primary-blue: #006fda;
  --mantine-scale: 1;
  --mantine-color-body: white;
  --mantine-shadow-md: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --mantine-radius-default: 0.375rem;
  --mantine-spacing-xs: 0.5rem;
  --mantine-spacing-md: 0.5rem;
  --mantine-font-size-md: 1rem;
  --mantine-color-bright: black;
  --mantine-spacing-sm: 0.5rem;
}