@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import './loader.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes open_backdrop {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes close_backdrop {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  .show .bg_backdrop {
    animation: open_backdrop 300ms ease-out forwards;
  }

  .hide .bg_backdrop {
    animation: close_backdrop 200ms ease-in forwards;
  }

  @keyframes open_dialog_panel {
    from {
      opacity: 0;
      transform: translateY(1rem) scale(0.95);
    }

    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  @keyframes close_dialog_panel {
    from {
      opacity: 1;
      transform: translateY(0) scale(1);
    }

    to {
      opacity: 0;
      transform: translateY(1rem) scale(0.95);
    }
  }

  .show .animate-dialog-panel {
    animation: open_dialog_panel 300ms ease-out forwards;
  }

  .hide .animate-dialog-panel {
    animation: close_dialog_panel 200ms ease-in forwards;
  }
}

.roboto-condensed-font {
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.smooch-sans-font {
  font-family: "Smooch Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --primary-blue: #006fda;
  --mantine-scale: 1;
  --mantine-color-body: white;
  --mantine-color-black: #000;
  --mantine-color-text: #000;
  --mantine-color-gray-3: #dee2e6;
  --mantine-shadow-md: 0 calc(0.0625rem * var(--mantine-scale)) calc(0.1875rem * var(--mantine-scale)) rgba(0, 0, 0, .05), rgba(0, 0, 0, .05) 0 calc(1.25rem * var(--mantine-scale)) calc(1.5625rem * var(--mantine-scale)) calc(-0.3125rem * var(--mantine-scale)), rgba(0, 0, 0, .04) 0 calc(0.625rem * var(--mantine-scale)) calc(0.625rem * var(--mantine-scale)) calc(-0.3125rem * var(--mantine-scale));
  --mantine-radius-default: calc(0.25rem * var(--mantine-scale));
  --mantine-spacing-xs: calc(0.625rem * var(--mantine-scale));
  --mantine-spacing-md: calc(1rem * var(--mantine-scale));
  --mantine-font-size-md: calc(1rem * var(--mantine-scale));
  --mantine-color-bright: var(--mantine-color-black);
  --mantine-spacing-sm: calc(0.75rem * var(--mantine-scale));
  --mantine-spacing-xl: calc(2rem * var(--mantine-scale));
  --mantine-font-size-xs: calc(0.75rem * var(--mantine-scale));
  --mantine-font-size-sm: calc(0.875rem * var(--mantine-scale));
}

.mantine-ChartTooltip-tooltipItemName{
  text-transform: capitalize;
}